@use "/src/utils/scss/variables" as var;

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  background-color: var(--white);
  margin: var.$main_margin_padding;
}
