.select {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  overflow-y: auto;
  height: 200px;
  padding: 5px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);

  .item {
    cursor: pointer;

    &[data-id] {
      border-bottom: solid 1px black;
    }

    &[data-all="true"],
    &[data-choice="true"] {
      background-color: red;
    }

    &[data-all="false"],
    &[data-choice="false"] {
      background-color: transparent;
    }

    &:hover {
      background-color: aqua !important;
    }
  }
}
