.inputRange {
  display: flex;
  column-gap: 5px;

  input {
    width: 100%;

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      appearance: none;
      -moz-appearance: textfield;
    }
  }
}
