.container {
  width: 30%;

  .filters {
    position: sticky;
    top: 83px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 14px;

    .loader {
      text-align: center;
    }
  }

  .btnSubmit {
    margin-top: 10px;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
