:root {
  --black: #000;
  --white: #fff;
  --color-bg: #f4f4f4;
  --color-header: #141414;
  --color-link: hsla(0, 0%, 100%, 0.6);
  --color-subtext: rgba(0, 0, 0, 0.6);
  --color-shadow-img: rgba(0, 0, 0, 0.05);
}
